*{
    box-sizing: border-box;
}
/* Defines colors used throughout the code*/
:root{
    --maroon: #B91646;
    --tan: #DFD8CA;
    --lite: #FBF3E4;
    --emerald: #105652;
    

} 

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
    background: var(--lite);
}
main {
    display: flex;
    flex-wrap: wrap;
    margin: 2%;
}

.main-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 40px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: var(--lite);
    
 }

header h1 {

    font-size: 32px;
    color: var(--emerald);
    
}

h1::after {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    content: 'Design Portfolio';
    color: var(--maroon);
    margin-left: 5px;
  }

h2 {
    margin: 2% 0;
    color: var(--emerald);
    font-size: 140%;
    font-family: 'Courier New', Courier, monospace;
}

h3 {
    text-align: center;
    color: var(--emerald);
    font-family: 'Courier New', Courier, monospace;
}

/* navigation properties defined*/
nav {
    display: flex;
    justify-content: flex-end;
    background-color: var(--maroon);
    
    
     
}

nav a {
    color: var(--tan);
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
}

nav a:hover {
    color: var(--maroon);
    background: var(--lite);
}


/* background image properties*/

#tech {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    display: flex;
    background-image: url("./images/Javis3.jpg"); alt:"background";
    background-size: cover;
    background-position: center;
    justify-content: flex-end;

}

/* section formatting*/

section {
    display: flex;
    flex: 1 1 0;
    max-width: 96%;
    margin: 2% auto;
    
}
article p {
    margin: 2% 0;
    font-size: 110%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: var(--emerald);

  }


/* card formatting and styling*/


.card {
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    padding: 10px;
    flex: 0 0 400px;
    
    
    
}

.card2 {
    border-style: line;
    border-width: 1px;
    border-radius: 10px;
    padding: 10px;
    flex: 0  400px;
    margin-top: 50px;
    
    
}


article h2 {
    text-align: center;
}

article p  {
    text-align: center;
   
}

article a {
    text-decoration: none;
    color: var(--maroon);
}

.card header {
    padding: 20px;
    background: var(--maroon);
    color: var(--lite);

}

.card img {
    width: 100%;
    min-width: 400px;
}




.content {
    flex: 4;
    background: var(--lite);
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* formatting div id*/

#myDiv {
    text-align: center;
    color: var(--emerald);
    line-height: 25px;
}

footer {
    padding: 20px;
    text-align: center;
    background-color: var(--maroon); 
    color: var(--tan);
    margin-top: auto;
}

/* set parameters for div with class main2 items in the work gallery*/
.main2 {
    max-width:  1000px;
    margin: auto;
}
  
.row {
    margin: 8px -16px;
  }
  
  
  .row,
  .row > .column {
    padding: 8px;
  }
  
  
  .column {
    float: left;
    width: 25%;
  }
  
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  
  .contents {
    background-color: var(--lite);
    padding: 10px;
    text-align: center;
    
  }

  .contents a:hover img {
      transform: scale(1.5);
      
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 900px) {
    .column {
      width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }

 